.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 150px;
  text-align: center;
  box-shadow: 0 0 10px #bababa;
  border-radius: 30px;
  padding: 30px 50px 60px 50px;
  height: 265px;
  background-color: #eeeeee;
}

.title {
  font-size: 35px;
  margin-bottom: 10px;
}

.conversion-text {
  margin-bottom: 15px;
}

.container-select {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input {
  width: 300px;
  height: 35px;
  padding: 5px 5px;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  text-align: center;
  font-size: 18px;
  color: #303030;
  margin-bottom: 10px;
}

.input:hover {
  border: 1px solid #9e9e9e;
}

.input:focus {
  outline: 3px solid #2a8aff;
}

.select {
  width: 300px;
  cursor: pointer;
}

.option {
  height: 35px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  padding-left: 90px;
}

.image-select {
  width: 34px;
  height: 22px;
  margin-right: 10px;
  object-fit: cover;
}

.icon-arrows {
  font-size: 30px;
  color: #2a8aff;
  cursor: pointer;
}

@media (max-width: 870px) {
  .container {
    height: min-content;
  }

  .container-select {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .container {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .container-select {
    flex-direction: column;
  }
}
